.random{
    margin: auto;
    margin-bottom: 20px;
    display: block;
}
.button{
    font-size: 50px;
    text-align: center;
}
#random-pool{
    font-size: 25px;
    height: 200px;
    width: 40%;
}
#random-result{
    font-size: 100px;
    text-align: center;
}
#video{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}